@page
@model Blogifier.Register
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Account/_Layout.cshtml";
}
<div class="form-login">
    @if (!User.Identity.IsAuthenticated)
    {
        
            <div class="bf-account-header">
                <h1><a href="~/">Tilbake til blogg</a></h1>
            </div>
            
    }
    else
    {
        <div class="bf-account-header mb-0">
            <div class="h5 mb-4">You are already signed in!</div>
            <div class="btn-group d-flex">
                <a href="~/" class="btn btn-outline-primary w-100">Blog</a>
                <a href="~/admin" class="btn btn-outline-primary w-100">Admin</a>
            </div>
        </div>
    }
</div>