@using Askmethat.Aspnet.JsonLocalizer.Localizer
@inject IJsonStringLocalizer<ListModel> Localizer
<div class="col-lg-3 col-12 mt-1">

    <!-- Section: Categories -->
    <section class="section mb-5">

        <!--/ Card -->
        <div class="card card-body pb-0">
            <div class="single-post">

                <p class="font-weight-bold dark-grey-text text-center spacing grey lighten-4 py-2 mb-4">
                    <strong>@Localizer["categories"]</strong>
                </p>

                <ul class="list-group my-4">
                    @foreach (var cat in Model)
                    {
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <a class="" href="~/categories/@cat.Category">
                                <p class="mb-0">@cat.Category</p>
                            </a>
                            <span class="badge teal badge-pill font-small">@cat.PostCount</span>
                        </li>
                    }
                </ul>
            </div>

        </div>

    </section>
    <!-- Section: Categories -->

</div>
<!--Sidebar-->