body {
    font-family: Roboto,sans-serif;
}

body, h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}

@media (min-width: 600px){
	.navbar.scrolling-navbar {
    -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
    -o-transition: background .5s ease-in-out,padding .5s ease-in-out;
    transition: background .5s ease-in-out,padding .5s ease-in-out;
    padding-top: 12px;
    padding-bottom: 12px;
	}

	.navbar.scrolling-navbar.top-nav-collapse {
		padding-top: 5px;
		padding-bottom: 5px;
	}

	.navbar.scrolling-navbar .navbar-nav>li {
		-webkit-transition-duration: 1s;
		-o-transition-duration: 1s;
		transition-duration: 1s;
	}

	.navbar.scrolling-navbar.top-nav-collapse {
		padding-top: 5px;
		padding-bottom: 5px;
	}

	.navbar.scrolling-navbar {
		-webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
		-o-transition: background .5s ease-in-out,padding .5s ease-in-out;
		transition: background .5s ease-in-out,padding .5s ease-in-out;
		padding-top: 12px;
		padding-bottom: 12px;
	}

	.navbar.scrolling-navbar .navbar-nav>li {
		-webkit-transition-duration: 1s;
		-o-transition-duration: 1s;
		transition-duration: 1s;
	}
}
.navbar {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    font-weight: 300;
}

.navbar .nav-item .nav-link .fab, .navbar .nav-item .nav-link .far, .navbar .nav-item .nav-link .fas {
    padding-right: 3px;
    padding-left: 3px;
}
.navbar.navbar-light .breadcrumb .nav-item .nav-link, .navbar.navbar-light .navbar-nav .nav-item .nav-link {
    color: #000;
    -webkit-transition: .35s;
    -o-transition: .35s;
    transition: .35s;
}
.navbar.navbar-light .breadcrumb .nav-item .nav-link:hover, .navbar.navbar-light .navbar-nav .nav-item .nav-link:hover {
    color: #ccc;
    -webkit-transition: .35s;
    -o-transition: .35s;
    transition: .35s;
}
.navbar .nav-item .nav-link {
    display: block;
}

.navbar-nav .dropdown-menu-right {
    right: 0;
    left: auto;
}

.dropdown .dropdown-menu, .dropleft .dropdown-menu, .dropright .dropdown-menu, .dropup .dropdown-menu {
    padding: .5rem;
}

.navbar .dropdown-menu {
    position: absolute!important;
    margin-top: 0;
}

.dropdown .dropdown-menu .dropdown-item, .dropleft .dropdown-menu .dropdown-item, .dropright .dropdown-menu .dropdown-item, .dropup .dropdown-menu .dropdown-item {
    padding: .5rem;
    margin-left: 0;
    font-size: .9rem;
}

.navbar .dropdown-menu a {
    padding: 10px;
    font-size: .9375rem;
    font-weight: 300;
    color: #000;
}
a.waves-effect, a.waves-light {
    display: inline-block;
}
.waves-effect {
    position: relative;
    cursor: pointer;
    overflow: hidden;
    -webkit-user-select: none;
    user-select: none;
}

.navbar .nav-flex-icons {
    -ms-flex-direction: row;
    flex-direction: row;
}
.nav-social-icons i{

}
.divider-new, .navbar .nav-flex-icons {
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    -webkit-box-direction: normal;
}

.badge, .modal-dialog.cascading-modal .modal-c-tabs .md-tabs, .navbar, .pagination .page-item.active .page-link {
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}

.carousel-thumbnails .carousel-indicators .active, .white {
    background-color: #fff!important;
}

.navbar.navbar-light .breadcrumb .nav-item.active>.nav-link:hover, .navbar.navbar-light .navbar-nav .nav-item.active>.nav-link:hover, .navbar.navbar-light .navbar-toggler {
    color: #000;
}

.navbar .navbar-toggler {
    outline: 0;
    border-width: 0;
}

[type=reset], [type=submit], button, html [type=button] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.navbar.navbar-light .navbar-toggler-icon {
    background-image: url(data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.9)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E);
    cursor: pointer;
}

a:not([href]):not([tabindex]), a:not([href]):not([tabindex]):focus, a:not([href]):not([tabindex]):hover {
    color: inherit;
    text-decoration: none;
}

.pswp__container, .pswp__img, .waves-effect {
    -webkit-tap-highlight-color: transparent;
    -moz-user-select: none;
    -ms-user-select: none;
}

a {
    cursor: pointer;
    text-decoration: none!important;
    color: #007bff;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

/* MAIN */ 
.hidden-sn main {
    padding-top: 5.5rem;
}

.homepage-v1 h1 {
    letter-spacing: 8px;
}

.homepage-v1 .spacing {
    letter-spacing: 2px;
}
.homepage-v1 p {
    font-size: .9rem;
}
.homepage-v1 h6, .homepage-v1 p, .homepage-v2 h6, .homepage-v2 p, .homepage-v3 p {
    font-weight: 400;
}
.grey-text {
    color: #9e9e9e!important;
}

.flex-center {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
}

.homepage-v5 p {
    font-size: .9rem;
}

.flex-center p {
    margin: 0;
}

.grey.lighten-4 {
    background-color: #f5f5f5!important;
}
.grey {
    background-color: #9e9e9e!important;
}

.card {
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    border: 0;
    font-weight: 400;
}

.view:not(.zoom) {
    overflow: visible;
}
.view {
    position: relative;
    overflow: hidden;
    cursor: default;
}

.view img, .view video {
    position: relative;
    display: block;
}

.overlay .mask {
    opacity: 0;
    -webkit-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.view .mask {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-attachment: fixed;
}

.rgba-white-slight, .rgba-white-slight:after {
    background-color: rgba(255,255,255,.1);
}

.card .card-body h1, .card .card-body h2, .card .card-body h3, .card .card-body h4, .card .card-body h5, .card .card-body h6 {
    font-weight: 400;
}

.homepage-v1 .font-small {
    font-size: .8rem;
}
 c
.font-small {
    font-size: .9rem;
}
.blue-grey-text {
    color: #607d8b!important;
}
.homepage-v1 .font-small {
    font-size: .8rem;
}

.homepage-v1 h6, .homepage-v1 p, .homepage-v2 h6, .homepage-v2 p, .homepage-v3 p {
    font-weight: 400;
}

.homepage-v5 .font-small {
    font-size: .8rem;
}

.teal-text {
    color: #009688!important;
}

.homepage-v5 h6, .homepage-v6, .homepage-v6 p {
    font-weight: 400;
}
.homepage-v5 .font-small {
    font-size: .8rem;
}

.teal-text {
    color: #009688!important;
}

.homepage-v4 h6, .homepage-v5 body, .homepage-v5 p {
    font-weight: 400;
}
.homepage-v2 p, .homepage-v3 p, .homepage-v4 p, .homepage-v5 p, .homepage-v6 p, .postpage-v1 p, .postpage-v2 p {
    line-height: 1.5rem;
}
.homepage-v5 .font-small {
    font-size: .8rem;
}
.homepage-v5 .spacing, .homepage-v6 .spacing {
    letter-spacing: 1px;
}
.homepage-v5 p {
    font-size: .87rem;
}

.pagination .page-item .page-link {
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    outline: 0;
    border: 0;
    background-color: transparent;
    font-size: .9rem;
    color: #212529;
}

.pagination .page-item.active .page-link {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
    -webkit-border-radius: .125rem;
    border-radius: .125rem;
    background-color: #4285f4;
    color: #fff;
}

.homepage-v5 .font-small {
    font-size: .8rem;
}

.fb-ic {
    color: #3b5998!important;
}
.circle-icons i {
    text-align: center;
    height: 30px;
    width: 30px;
    line-height: 30px;
    font-size: 15px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    margin: 3px;
    border: 1px solid #e0e0e0;
    color: #bdbdbd;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
}
.circle-icons i:hover {
    text-align: center;
	background-color: #007bff;
    height: 30px;
    width: 30px;
    line-height: 30px;
    font-size: 15px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    margin: 3px;
    border: 1px solid #e0e0e0;
    color: #fff;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
}
.homepage-v5 .spacing, .homepage-v6 .spacing {
    letter-spacing: 1px;
}

.img-fluid, .modal-dialog.cascading-modal.modal-avatar .modal-header, .video-fluid {
    max-width: 100%;
    height: auto;
}
.z-depth-1 {
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12)!important;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12)!important;
}

.rgba-white-slight, .rgba-white-slight:after {
    background-color: rgba(255,255,255,.1);
}

.homepage-v5 .font-small {
    font-size: .8rem;
}
.homepage-v5 h6, .homepage-v6, .homepage-v6 p {
    font-weight: 400;
}

.homepage-v5 .spacing, .homepage-v6 .spacing {
    letter-spacing: 1px;
}

.archive ul {
    margin-top: -1rem;
    margin-bottom: 0;
}
.archive ul li:first-of-type {
    border-top: none;
}
.archive ul li {
    padding-top: .8rem;
    border-top: 1px solid #eceeef;
    padding-bottom: .3rem;
}

.homepage-v5 .spacing, .homepage-v6 .spacing {
    letter-spacing: 1px;
}

.list-group .list-group-item:first-child {
    -webkit-border-top-left-radius: .125rem;
    border-top-left-radius: .125rem;
    -webkit-border-top-right-radius: .125rem;
    border-top-right-radius: .125rem;
}

.badge-pill {
    -webkit-border-radius: 10rem;
    border-radius: 10rem;
    padding-right: .6em;
    padding-left: .6em;
}
.badge {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    -webkit-border-radius: .125rem;
    border-radius: .125rem;
}
.badge, .badge-danger, .badge-dark, .badge-default, .badge-info, .badge-primary, .badge-secondary, .badge-success, .badge-warning {
    color: #fff!important;
}
.badge, .modal-dialog.cascading-modal .modal-c-tabs .md-tabs, .navbar, .pagination .page-item.active .page-link {
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}

.teal {
    background-color: #009688!important;
}

.carousel-thumbnails .carousel-indicators .active, .white {
    background-color: #fff!important;
}
.img-fluid, .modal-dialog.cascading-modal.modal-avatar .modal-header, .video-fluid {
    max-width: 100%;
    height: auto;
}
.z-depth-1 {
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12)!important;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12)!important;
}
.text-hover {
    color: #424242;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
	text-decoration: none!important;
}

.homepage-v5 .font-small {
    font-size: .8rem;
}

footer.page-footer {
    bottom: 0;
    color: #fff;
}
.stylish-color {
    background-color: #4b515d!important;
}

.card.card-cascade .view.view-cascade.gradient-card-header, .dropdown .dropdown-menu .dropdown-item:active, .dropdown .dropdown-menu .dropdown-item:hover, .dropleft .dropdown-menu .dropdown-item:active, .dropleft .dropdown-menu .dropdown-item:hover, .dropright .dropdown-menu .dropdown-item:active, .dropright .dropdown-menu .dropdown-item:hover, .dropup .dropdown-menu .dropdown-item:active, .dropup .dropdown-menu .dropdown-item:hover, .white-text {
    color: #fff!important;
}
footer.page-footer .footer-copyright {
    overflow: hidden;
    background-color: rgba(0,0,0,.2);
    color: rgba(255,255,255,.6);
}
footer.page-footer .container-fluid {
    width: auto;
}
footer.page-footer a {
    color: #fff;
	text-decoration: none;
}
footer.page-footer a:hover {
	color: #ccc;
}

.postpage-v2 p {
    font-size: .87rem;
}
.postpage-v1 h6, .postpage-v2, .postpage-v2 p {
    font-weight: 400;
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}
.btn.btn-sm {
    padding: .5rem 1.6rem;
    font-size: .64rem;
}

.btn-fb {
    background-color: #3b5998!important;
    color: #fff;
}
.btn {
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    padding: .84rem 2.14rem;
    font-size: .81rem;
    -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    -o-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    margin: .375rem;
    border: 0;
    -webkit-border-radius: .125rem;
    border-radius: .125rem;
    cursor: pointer;
    text-transform: uppercase;
    white-space: normal;
    word-wrap: break-word;
    color: #fff;
}

.btn-tw {
    background-color: #55acee!important;
    color: #fff;
}
.btn-gplus {
    background-color: #dd4b39!important;
    color: #fff;
}
.pagination .page-item .page-link:hover {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
    -webkit-border-radius: .125rem;
    border-radius: .125rem;
    background-color: #eee;
    color: #000;
}
.card-title a {
    color: #212529;
}
.card-title a:hover {
    color: #ccc;
}
.written-by {
    font-weight: 100;
    font-size: small;
}
/* BLOG */
@media(min-width: 992px){
    .list-img-desktop-size{
        height: auto;
        width: 730px;
    }
    .list-img-desktop-div {
        width: 730px;
        height: 322px;
        overflow: hidden;
    }
    .list-img-desktop-size-small {
        height: auto;
        width: 350px;
    }

    .list-img-desktop-div-small {
        width: 350px;
        height: 233px;
        overflow: hidden
    }
}

/* POST */

div .post-image img {
    max-width: 100%;
    width: auto;
}
@media(min-width: 992px) {
    .post-img-desktop-size {
        height: auto;
        width: 1110px;
    }

    .post-img-desktop-div {
        width: 1110px;
        height: 386px;
        overflow: hidden!important;
    }
}

/* Material Scroll To Top */
.material-scrolltop {
    display: block;
    position: fixed;
    width: 0;
    height: 0;
    bottom: 23px;
    right: 23px;
    padding: 0;
    overflow: hidden;
    outline: none;
    border: none;
    border-radius: 2px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
    cursor: hand;
    border-radius: 50%;
    background: teal;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-transition: all 0.3s cubic-bezier(0.25, 0.25, 0, 1);
    -ms-transition: all 0.3s cubic-bezier(0.25, 0.25, 0, 1);
    -moz-transition: all 0.3s cubic-bezier(0.25, 0.25, 0, 1);
    -o-transition: all 0.3s cubic-bezier(0.25, 0.25, 0, 1);
    transition: all 0.3s cubic-bezier(0.25, 0.25, 0, 1);
}

.material-scrolltop:hover {
    background-color: teal;
    text-decoration: none;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5), 0 3px 15px rgba(0, 0, 0, 0.5);
}

.material-scrolltop::before {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    content: '';
    width: 0;
    border-radius: 100%;
    background: #67bb6a;
}

.material-scrolltop:active::before {
    width: 120%;
    padding-top: 120%;
    -webkit-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
.material-scrolltop:focus {
    outline: none;
}

.material-scrolltop.reveal {
    width: 56px;
    height: 56px;
}

.material-scrolltop span {
    display: block;
    font-size: 25px;
    color: #fff;
}

.material-scrolltop, .material-scrolltop::before {
    background-image: url(../img/top-arrow.svg);
    background-position: center 50%;
    background-repeat: no-repeat;
}

/* CODE */
/*pre code{
    color: grey;
}

pre {
    padding: 20px;
    background-color: darkslategray;
    border-radius: 5px;
}*/