@page "/admin/stats"

@using Microsoft.AspNetCore.Components.Authorization
@inject IJsonStringLocalizer<Settings> Localizer
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider
@{
    var authState = AuthenticationStateProvider.GetAuthenticationStateAsync().Result;
    if (authState == null || !authState.User.Identity.IsAuthenticated)
    {
        try { NavigationManager.NavigateTo("account/login?returnUrl=/admin"); } catch { }
    }
}
    <div class="container-fluid">
        <div class="row bf-row">
            <div class="col-lg-3 order-lg-1 col-md-6 order-md-1 col-sm-12 bf-col">
                <h2>Unike brukere</h2>
                <ChartUnique />
            </div>
            <div class="col-lg-6 order-lg-2 col-md-12 order-md-3 col-sm-12 bf-col">
                <h2>Hits</h2>
                <MainChart />
            </div>
            <div class="col-lg-3 order-lg-3 col-md-6 order-md-2  col-sm-12 bf-col">

            </div>
        </div>
    </div>